test_assets
test.py
cryptomancer-456619-a2137711716f.json
simulations
*.pyc
cache
trade_log.csv
local
primers
frontend
frontend/build
frontend/node_modules
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
.idea
*.iml
__pycache__
*.egg-info
*.egg
*.whl
*.db
*.sqlite3
*.json
*.log
.env
.env.*
local_settings.py
*.zip
*.tar.gz
*.tar.xz
*.tar.bz2
*.tar.lzma
*.tar.zst
*.rar
trained_models
*.csv